docker-compose*
**/.DS_Store
tmp/
**/.DS_Store
npm-debug.log
yarn-error.log
.dockerignore
.git/
node_modules/
dist/
.github/
.husky/
helm/
.gitignore
.gitlab-ci.yml
Dockerfile
README.md
.env*
.eslintrc*
.prettierrc
.editorconfig
jest*
tests/